@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  background-color: #87509c;
  top: 0;
  width: 100%;
}

.menu {
  height: 25px;
  color: white;
  display: flex;
  gap: 5px;
}

.menu-option {
  padding: 0px 10px;
  font-size: 16px;
}

.menu-option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 25%);
  border-radius: 5px;
}

.page-title {
  width: 76.39%;
  margin-top: 64px;
}

.page-title h1 {
  font-size: 40px;
}

.page-title p {
  font-size: 18px;
}

.page-title h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 114px;
  padding-top: 15px;
  border-bottom: 5px solid rgba(0, 0, 0, 12%);
}

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home {
  color: white;
  background-color: #87509c;
}

.home h1 {
  margin-top: 220px;
  font-size: 42.16px;
  padding-bottom: 32px;
}

.big-button {
  width: 294px;
  color: white;
  border: none;
  padding: 5px 32px;
  border-radius: 5px;
  border-bottom: solid rgba(0, 0, 0, 12%);
  border-width: thick;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 124px;
}

.big-button:hover {
  cursor: pointer;
  opacity: 85%;
}

.services {
  background-color: #17c2a4;
  color: white;
}

.services .list {
  margin-top: 64px;
  margin-bottom: 100px;
}

.services .card h2 {
  font-size: 24px;
}

.services .card text {
  font-size: 16px;
  font-weight: lighter;
  padding: 0 72px;
}

.list {
  width: 76.39%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px 1.39%;
  margin-top: 50px;
  margin-bottom: 64px;
}

.card {
  width: 23.63%;
}

.team {
  background-color: #e7f1f8;
}

.team .card h3 {
  font-size: 24px;
  color: #27283d;
  margin-bottom: 0px;
}

.team .card h4 {
  font-size: 16px;
  color: #30bae7;
  margin-top: 0px;
}

.team .card p {
  font-size: 16px;
  color: #3c4761;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.social-icon {
  border-radius: 50%;
  padding: 5px;
  background-color: #bdd1df;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills .list {
  margin-bottom: 128px;
}

.skills {
  color: #3c4761;
}

.skills .card text {
  font-size: 24px;
}

.portfolio {
  background-color: #ffdd99;
  color: #393939;
}

.testimonials {
  background-color: #d74680;
  color: #ffffff;
}

.testimonials .card {
  width: 49.08%;
}

.testimonials .card .testimonial {
  padding: 32px;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-style: italic;
  gap: 40px;
  font-size: 21px;
}

.testimonials .card .author {
  width: 100%;
  text-align: left;
  /* padding-left: 160px; */
}

.testimonials .card .author h3,
.testimonials .card .author h4 {
  padding-left: 172px;
}

.testimonials .card .author h3 {
  font-size: 24px;
  margin: 0;
}

.testimonials .card .author h4 {
  font-size: 18px;
  color: #ffdd99;
  font-weight: normal;
  margin-top: 0;
}

.contact {
  background-color: #3c5499;
  color: #ffffff;
}

.contact-form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 25px;
  justify-content: center;
  margin-top: 64px;
}

.credentials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
  background-color: #273a71;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 16px;
}

.contact-form input {
  width: 46%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 32px;
}

.footer {
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: #344b8e;
}

.footer .list {
  width: 76.39%;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.footer .list a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.footer .list a:hover {
  color: #30bae7;
}

.portfolio .options {
  width: 37.5%;
  flex-direction: row;
  justify-content: center;
  gap: px;
  margin-bottom: 64px;
}

.portfolio .options input[type="radio"] {
  opacity: 0;
}

.portfolio .options label:hover {
  cursor: pointer;
}

.portfolio .options label {
  background-color: rgba(0, 0, 0, 10%);
  padding: 4px 12px;
  border-radius: 3px;
}

.portfolio .options input:checked + label {
  background-color: #ffffff;
}

/* progress bar */
.progress-bar {
  position: relative;
  width: 172px;
  height: 172px;
}

.progress-bar svg {
  position: relative;
  width: 172px;
  height: 172px;
}

.progress-bar svg circle {
  width: 172px;
  height: 172px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: rotate(-90deg) translate(5px, 5px);
  transform-origin: center;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
}

.progress-bar svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #dfe8ed;
}

.progress-bar .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.progress-bar .number h2 {
  font-size: 48px;
}

.progress-bar .number h2 span {
  font-size: 24px;
}
